.card{
    width: 200px;
    padding: 0;
    border-radius: 10px;
    background: #f0efeb;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 20px 30px;
    border: none;
    box-shadow: 1px 1px 6px grey;
}

.card:hover{
    box-shadow: 3px 3px 10px grey;
}

.card-image{
    height: 200px;
}

.make-new-card{
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.delete{
    position: absolute;
    left: 90%;
    color: red;
    z-index: 1;
}

img{
    border-radius: 10px;
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 auto;
}

.name, .occupation{
    margin-left: 5px;
}


.make-new-card > p{
    font-size: 70px;
}
