.header{
    background: black;
    height: 50px;
    display: block;
    width: 100vw;
    padding: 0 10px;
}

.header > p{
    display: inline-block;
    font-size: 30px;
    margin: 0 20px;
    color: bisque;
}

.edit{
    float: right;
    cursor: pointer;

}

.edit:hover{
    font-size: 32px;
}