input[type=file]{
    width: 200px;
}
input{
    border-radius: 4px;
    margin: 20px auto;
}

.makeNewCard{
    text-align: center;
    padding-bottom: 20px;
}

button{
    border: 1px solid black;
    border-radius: 4px;
}