.card{
    padding: 0;
    border-radius: 10px;
    background: #f0efeb;
    display: inline-block;
    cursor: pointer;
    margin: 20px 30px;
}

.card-image{
    width: 200px;
    height: 200px;
}



img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
}